header {
  
  display: flex;
  height: auto;
  justify-content:space-between;
margin-left: 400px;
margin-right: 400px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  max-width: 400px;
  width: 80%;
}

.popup-box h2 {
  margin-bottom: 15px;
}

.popup-box button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.popup-box button:hover {
  background-color: #0056b3;
}
#drop-area {
        
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 600px;
  height: 250px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  position: relative;
}

#reg{
  padding-top: 12px;
}
.img-preview {
 
 padding-left:15px;
  padding-right:5px;
  max-width: 50%;
  max-height: 70%;
  margin: 10px 0;
}

.img-container {
  position: relative; /* Position the container */
  display: inline-block; /* Ensure the container takes the size of its contents */
}
.remove-icon {
  position: absolute;
 
  transform: translateX(-50%);
  padding-right: 15px;
  padding-left: 20px;
}


#file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #f0f0f0;
  z-index: 9999;
}
#loading .loader {
  width: 0;
  height: 100%;
  background-color: green;
  transition: width 0.5s;
}
#conte{
  display: none;
}
header img {
  margin-top: 5px;
  border-radius: 60px;

  height: 50px;
  width: 50px;
}
.container{
  padding-top: 0px;
}
header h2 {
  color: black;
  margin-top: 10px;
  font-family: Arial, sans-serif;
}
#profile{
  display: none;
  padding-top: 5px;
}
#userame{
  display: none;
  padding-top: 10px;
}
#signup{
  padding-top: 15px;
  font-size: 18px;
}
#login{
  padding-top: 15px;
  font-size: 18px;
}
header button{
  background-color: transparent;
  border: transparent;
}
header button:focus {
  outline: none;
}
.dropdown {
  display: inline-block;
  position: relative;
  
}
#overlay1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.overlay-content {
  background-color: #fff;
 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.overlay-content .log {
  margin-top: 12px;
  position: relative;
  max-width: 900px;
}
.overl input{
  width: 230px;
}
.fa-xmark {
  float: right;
}

.fa-caret-down{
       
  padding-left: 10px;
}
.dropbtn {
  padding: 0px 5px; 
 margin-right: 50px;
 background-color: transparent;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
}

.dropdown-content {
  display: none;
text-align: left;
  position: absolute;
  margin-top: 20px;
  background-color: black;
  border-radius: 5px;
  max-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
 padding-bottom: 5px;
 padding-left: 5px;
   width: 130px;
   font-size: 16px;
 
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
 
  background-color:lightgray;
}

.step h2{
  padding-top:10px ;
  font-size: 24px;
}
.image{
    height:40px;
    margin-left:200px;
    }
    .form-container {
        max-width: 700px;
        margin: 30px auto;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .input-field {
        margin-top: 20px;
        position: relative;
        max-width: 700px;
      }
      
     .input-field input,
      select {
        width: 95%;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
      }
      
      label {
        position: absolute;
        top: 8px;
        left: 10px;
        font-size: 16px;
        color: #555;
        pointer-events: none;
        transition: all 0.3s ease;
        transform-origin: 0% 0%;
        background-color: white;
      }
      
      input:focus + label,
      input:not(:placeholder-shown) + label,
      select:focus + label,
      select:not(:placeholder-shown) + label {
        transform: translateY(-16px) scale(0.8);
        color: #2196F3;
      }
    
      
    .step {
        display: none;
    }
    
    .step.active {
        display: block;
    }
    
    .progress {
        margin-bottom: 20px;
    }
    
    .progress-bar {
        background-color: #007bff;
    }
    
    .progress-step {
        position: absolute;
        text-align: center;
        width: 33.33%;
        top: 0;
        left: 0;
        font-size: 14px;
        color: #fff;
       
    }
    
    .step-btns {
        margin-top: 20px;
        text-align: right;
    }
    
    .btn-next,
    .btn-prev {
        margin-right: 10px;
    }
    .thumbnail {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin: 5px;
    }
    .colord{
    background-color:Beige;
    margin-top:5px
    }
    hr.solid {
    border-top: 3px solid #bbb;
    }
    
    .popup-container {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
        text-align: center;
        border-radius: 30px;
      }
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
      .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 998;
      }
     
      .otp {
        display: none;
     max-width: 150px;
        margin: 10px;
    }
    
    .otp input {
        height: 42px;
        width: 30px;
        margin-left: 5px;
        padding: 8px;
        box-sizing: border-box;
      
    }
    
    .verificationResult{
      color: green;
    }
   

    .fa-eye-slash {
       
      transform: translateX(-150%);
      
  }

  .fa-eye {
       
    transform: translateX(-150%);
    
}


@media (max-width:396px) {
  .step h2{
    font-size: 18px;
   }
   header {
    display: flex;
    height: auto;
    justify-content:space-between;
  margin-left: 20px;
  margin-right: 0px;
  }
  header h2 {
    color: black;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 22px;
  }
  #drop-area {
    border: 2px dashed #ccc;
   border-radius: 20px;
   width: 280px;
   height: 200px;
   margin: 20px auto;
   text-align: center;
   padding: 10px;
   position: relative;
 }
 .img-preview {
  padding-left:5px;
   padding-right:5px;
   max-width: 50%;
   max-height: 70%;
   margin: 10px 0;
 }
}
@media (min-width: 397px)and (max-width:480px) {
  header {
    display: flex;
    height: auto;
    justify-content:space-between;
  margin-left: 20px;
  margin-right: 10px;
  }
  header h2 {
    color: black;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 24px;
  }
  #drop-area {
     border: 2px dashed #ccc;
    border-radius: 20px;
    width: 340px;
    height: 200px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    position: relative;
  }
  .img-preview {
   padding-left:5px;
    padding-right:5px;
    max-width: 50%;
    max-height: 80%;
    margin: 10px 0;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  header {
    display: flex;
    height: auto;
    justify-content:space-between;
  margin-left: 50px;
  margin-right: 50px;
  }

  header h2 {
    color: black;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 24px;
  }
.container{
margin-top: 5px;
}
#drop-area {
        
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 370px;
  height: 200px;
  margin: 20px auto;
  text-align: center;
  padding: 10px;
  position: relative;
}
.img-preview {
 padding-left:5px;
  padding-right:5px;
  max-width: 50%;
  max-height: 70%;
  margin: 10px 0;
}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px){
  header {
    display: flex;
    height: auto;
    justify-content:space-between;
  margin-left: 140px;
  margin-right: 125px;
  }

  header h2 {
    color: black;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 28px;
  }
.container{
margin-top: 5px;
}
#userame{
  font-size: 20px;
}
}

@media (min-width: 1025px) and (max-width: 1324px){
  header {
    display: flex;
    height: auto;
    justify-content:space-between;
  margin-left: 280px;
  margin-right: 200px;
  }

  header h2 {
    color: black;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 28px;
  }
.container{
margin-top: 5px;
}
#userame{
  font-size: 20px;
}
}